/*********************
FONTS
*********************/

$fontsize-185: 7vw !important;
$fontsize-100: 5vw !important;
$fontsize-90: 4rem !important;
$fontsize-40: 3.125rem !important;
$fontsize-50: 2.125rem !important;
$fontsize-30: 1.875rem !important;

.fontsize-185 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-185;
  }
  font-size: $fontsize-185;
}

.fontsize-100 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-100;
  }
  font-size: $fontsize-100;
}

.fontsize-90 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-90;
  }
  font-size: $fontsize-90;
}

.fontsize-50 {
  div, p, span, a, ol, ul, dl, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-size: $fontsize-50;
  }
  font-size: $fontsize-50;
}

h2, .h2 {
    font-size: 20px;
}

  
  h3, .h3 {
    padding: 50px;
    font-size: 50px;
  }

  h3{
    font-size:29px;
  }
  
  h4, .h4 {
    font-size: 15px;
  }

  h5, .h5 {
    font-size: 29px;
    line-height: 1.9;
  }

.topnav a {
    font-size: 25px;
}


.topnav a.active {
  background-color: #4CAF50;
  color:black;
}


.front-page-text{
padding:69px;

}

p {
    font-size: 100px;
    line-height: 1;
    color: black;
    padding: 160px;
  
  }

  .WEBEMOJI {
      height: 105px;
  }


.WORLDEMOJI {
    height: 105px;
}

.grid-container {
  grid-template-columns: auto auto;

  grid-gap: 10px;
  padding-left: 60px;
  padding-right: 60px;
 
  display: grid;
  grid-template-columns: repeat(2, minmax(564px, 1fr));

}


.grid-container>div {

}


.midnav {
    display: flex;
}


.web-btn {
    margin: 10px;
    height: 90px;
    width: 1000px;
    font-size: 27px;
}

.world-btn {
    margin: 10px;
    height: 90px;
    width: 1000px;
    font-size: 27px;
}


.slider {
    width: 90%;
}

.input {
width: 60%;
}




  .grid-container {

    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-left: 0px;
  
    padding-left: 45px;
    padding-right: 45px;

}
  
  
  .grid-container>div {
      
  
  }


.column1 {

  font-family: 'HTWEB';
}

.column2 {
 
  font-family: 'HTWORLD';
}

.arrow{
    width:214px;
}


.column4{
    padding: 100px;
}

.glyphdiv{
    font-size: 400px;
    padding: 30px;  
}



.column7 {
    margin-top: 150px;
      max-width: 80%;
      margin-left: 10%;
  }




.column8 {
    
  margin-top: 20px;
  max-width: 80%;
  margin-left: 10%;

}


.container {
  max-width: 1400px;
  padding-right: 0px;
  padding-left: 0px;

}


.shop-btn {
  

    height: 100px;
    font-size: 30px;
    position: absolute;
    margin-left: 44%;
    border-radius: 90%;
}


.shopinner{
  padding: 20px;
}


.download-button {
  font-size:40px;
  border-radius: 1000px;
  margin-top: 10%;
  margin-bottom: 10%;
  max-width: 80%;
  margin-left: 10%;
}