


p {
    font-size: 120px;
    line-height: 1;
    color: black;
    padding: 257px;

}



.topnav {
    overflow: hidden;
    margin: 39px;
    float: right;
    padding: 25px;
    background-color: white;
}


.topnav a {
    font-size: 30px;
}





    .grid-container {

        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-gap: 10px;
        margin-left: 0px;
      
        padding-left: 45px;
        padding-right: 45px;
    
    }





.column7 {
    max-width: 80%;
}