<div class="faq-item col-24 d-block no-padding">
    <div class="faq-item-inner">
        <h3 class="faq-headline fontsize-50 font-italic">{{ item.headline }}</h3>
        <div class="faq-content">
            <div class="faq-content-background"></div>
            <div class="faq-content-inner-wrap">
                <div class="faq-content-inner fontsize-30">
                    {{ item.content }}
                </div>
            </div>
        </div>
    </div>
</div>