<div class="jury-item col-24 col-sm-12 col-md-8 d-block">
    <div class="jury-item-inner">
        <img class="lazyload img-responsive" data-src="{{ Image(item.image).src('large') }}" data-srcset="{{ Image(item.image).srcset }}" alt="{{ Image(item.image).title }}" />
        <div class="jury-info text-center pt-4 mb-4 pt-md-5 mb-md-5">
            <h3 class="fontsize-40 font-italic">{{ item.name }}</h3>
            <div class="fontsize-30">{{ item.info }}</div>
        </div>
    </div>
</div>